[submodule "CMake_QT_19_singleton"]
	path = CMake_QT_19_singleton
	url = https://github.com/songpeng22/CMake_QT_19_singleton.git
[submodule "CMake_QT_16_static_QML_Tester"]
	path = CMake_QT_16_static_QML_Tester
	url = https://github.com/songpeng22/CMake_QT_16_static_QML_Tester.git
[submodule "CMake_QT_03_Qml-Standard"]
	path = CMake_QT_03_Qml-Standard
	url = https://github.com/songpeng22/CMake_QT_03_Qml-Standard.git
[submodule "CMake_QT_11_mt_static_Standard"]
	path = CMake_QT_11_mt_static_Standard
	url = https://github.com/songpeng22/CMake_QT_11_mt_static_Standard.git
[submodule "CMake_QT_18_createObject"]
	path = CMake_QT_18_createObject
	url = https://github.com/songpeng22/CMake_QT_18_createObject.git
