[submodule "CMake_QT_19_singleton"]
	path = CMake_QT_19_singleton
	url = https://github.com/songpeng22/CMake_QT_19_singleton.git
[submodule "CMake_QT_16_static_QML_Tester"]
	path = CMake_QT_16_static_QML_Tester
	url = https://github.com/songpeng22/CMake_QT_16_static_QML_Tester.git
[submodule "CMake_QT_03_Qml-Standard"]
	path = CMake_QT_03_Qml-Standard
	url = https://github.com/songpeng22/CMake_QT_03_Qml-Standard.git
[submodule "CMake_QT_11_mt_static_Standard"]
	path = CMake_QT_11_mt_static_Standard
	url = https://github.com/songpeng22/CMake_QT_11_mt_static_Standard.git
[submodule "CMake_QT_18_createObject"]
	path = CMake_QT_18_createObject
	url = https://github.com/songpeng22/CMake_QT_18_createObject.git
[submodule "CMake_QT_03_QT-Tester"]
	path = CMake_QT_03_QT-Tester
	url = https://github.com/songpeng22/CMake_QT_03_QT-Tester.git
[submodule "CMake_QT_13_dual-screen"]
	path = CMake_QT_13_dual-screen
	url = https://github.com/songpeng22/CMake_QT_13_dual-screen.git
[submodule "CMake_QT_17_static_Font"]
	path = CMake_QT_17_static_Font
	url = https://github.com/songpeng22/CMake_QT_17_static_Font.git
[submodule "CMake_QT_02_Qt-Standard"]
	path = CMake_QT_02_Qt-Standard
	url = https://github.com/songpeng22/CMake_QT_02_Qt-Standard.git
[submodule "CMake_QT_04_Qml_CoWork_with_CPP"]
	path = CMake_QT_04_Qml_CoWork_with_CPP
	url = https://github.com/songpeng22/CMake_QT_04_Qml_CoWork_with_CPP.git
[submodule "CMake_QT_06_Qml-Style"]
	path = CMake_QT_06_Qml-Style
	url = https://github.com/songpeng22/CMake_QT_06_Qml-Style.git
[submodule "CMake_QT_07_Skinnable"]
	path = CMake_QT_07_Skinnable
	url = https://github.com/songpeng22/CMake_QT_07_Skinnable.git
[submodule "CMake_QT_09_pass-parameters"]
	path = CMake_QT_09_pass-parameters
	url = https://github.com/songpeng22/CMake_QT_09_pass-parameters.git
[submodule "CMake_QT_10_signal_and_event"]
	path = CMake_QT_10_signal_and_event
	url = https://github.com/songpeng22/CMake_QT_10_signal_and_event.git
